 html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#containerintro {

  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #333;
  box-shadow: 3px 4px 6px 3px #000;
  color: #eee;

}

#selectioncateg,#slideannees{
  margin-top: 6em;
  width: 50%;
}
#selection,#slideannees,#selectioncateg{
  float:left;
}

#selection{
  width: 40%;
  margin-top: 4em;
}


svg{
  float:left;
  width:60%;
}
text.shadow {
  stroke: white;
  stroke-width: 2.5px;
  opacity: 1;
}
.legend {
  cursor: pointer;
}
.selectioncateg{
  width: 50%;
}

/* #divdroite{
  background-color: aqua;
} */